body {
	background-color: rgb(43,43,43);
	background-image: radial-gradient(#2b2b2b 10%, transparent 11%),radial-gradient(#1b1b1b 10%, transparent 11%);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
	background-repeat: repeat;
	font-size: 40px;
	font-family: helvetica;
}
#Homepg {
	display:flex;
	margin-left:15%;
	margin-top: 10%;
}
#Homepg h1 {
	color:#e9e9e9;
	text-align: rigth;
	margin-righh: 10%;
	padding:20px;
	padding-left: 30px;
	height:75%;
	font-weight:bold;
	transition-duration: 187ms;

}
#Homepg h1:hover {
	background-color: rgba(100,100,100,0.25);
	font-size: 100px;
	border-radius: 15px;
	transition-duration: 375ms;
}

/*		 Menu bar		*/
#Menu_bar {
	display: grid;
	line-height: 90px;
}
#Menu_bar a {
	color:rgb(180,180,180);
	text-decoration:none;
	width: max-content;
	padding: 10px 20px;
	height:70%;
	border-radius:20px;
	background-color: rgba(43,43,43,0);
	transition-duration: 125ms;
}
#Menu_bar a:hover {
	color:rgb(200,200,200);
	background-color:rgba(86,86,86,0.5);
	font-size: 50px;
	transition-duration: 250ms;
	cursor: pointer;
}

#all_abt {
	display: flex;
	margin:7%;
	font-size:75%;
	color:#e9e9e9;
}

#mmg {
    width:35%;
    height: auto;
    margin:0 auto;
    padding:2.5%;
	background-color:#4e4e4e;
	border-radius: 15px;
	opacity: 0;
	animation: fade-in-left 1150ms forwards;
}

#my_img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width:35%;
  }
}


#tbl_cont {
    display:grid;
    height:100%;
    margin:15% 5%;
    justify-content: centre;
    line-height:90px;
}

#tbl_cont tl {
    display:flex;
    height: auto;
}

#tbl_cont a {
    text-decoration: none;
    background-color: rgba(228,228,228,0.7);
    border-radius:10px;
    color:#2b2b2b;
    transition-duration: 125ms;
    text-align:center;
    width:auto;
}
#tbl_cont a:hover {
    background-color: rgba(228,228,228,0.8);
    color:#1a1a1a;
    font-size:120%;
    transition-duration: 250ms;
    cursor: pointer;
}
