#Menu_bar {
	display: grid;
	line-height: 20px;
	margin:15%;
	padding:10px 20px;
}
#Menu_bar a {
	color:rgb(180,180,180);
	text-decorations:none;
	width: max-content;
	border-radius:10px 20px 10px 20px;
	background-color: rgba(86,86,86,0.5);
}
#Menu_bar a:hover {
	color:rgb(200,200,200);
	background-color:rgba(21,21,21,0.5);
}
body {
	background-color: rgb(43,43,43);
}
