body {
	background-color: rgb(43,43,43);
	background-image: radial-gradient(#2b2b2b 10%, transparent 11%),radial-gradient(#1b1b1b 10%, transparent 11%);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
	background-repeat: repeat;
	margin-left:15%;
	margin-top: 10%;
	font-size: 40px;
}
#Homepg {
	display:flex;
}
#Homepg h1 {
	color:#e9e9e9;
	text-align: rigth;
	margin-righh: 10%;
	padding:20px;
	padding-left: 30px;
	height:75%;
	font-weight:bold;
	transition-duration: 187ms;

}
#Homepg h1:hover {
	background-color: rgba(100,100,100,0.25);
	font-size: 100px;
	border-radius: 15px;
	transition-duration: 375ms;
}

/*		 Menu bar		*/
#Menu_bar {
	display: grid;
	line-height: 90px;
}
#Menu_bar a {
	color:rgb(180,180,180);
	text-decoration:none;
	width: max-content;
	padding: 10px 20px;
	height:70%;
	border-radius:20px;
	background-color: rgba(43,43,43,0);
	transition-duration: 125ms;
}
#Menu_bar a:hover {
	color:rgb(200,200,200);
	background-color:rgba(86,86,86,0.5);
	font-size: 50px;
	transition-duration: 250ms;
	cursor: pointer;
}

#all_abt {
	display: flex;
	padding:"30px";
}

#all_abt img {
	max-width: 50%;
	height: auto;
}
